## Intro to the Workign with Dates and Times Module

In [1]:
import pandas as pd
import datetime as dt # a module, not an external library

## Review of Python's Dataframe Module

In [12]:
someday = dt.date(2016,4,12)
someday

datetime.date(2016, 4, 12)

In [5]:
someday.year

2016

In [6]:
someday.month

4

In [7]:
someday.day

12

In [10]:
somedatetime = dt.datetime(2016,4,12,8,13)
somedatetime

datetime.datetime(2016, 4, 12, 8, 13)

In [14]:
str(someday)

'2016-04-12'

In [15]:
str(somedatetime)

'2016-04-12 08:13:00'

In [18]:
somedatetime.hour
somedatetime.minute
somedatetime.second

0

## The pandas Timestamp Object

In [19]:
pd.Timestamp('2015-3-31')

Timestamp('2015-03-31 00:00:00')

In [20]:
pd.Timestamp('2015/3/31')

Timestamp('2015-03-31 00:00:00')

In [22]:
pd.Timestamp('2015, 3, 31')

Timestamp('2015-03-31 00:00:00')

In [23]:
pd.Timestamp('1/1/2012')

Timestamp('2012-01-01 00:00:00')

In [24]:
pd.Timestamp('1/1/2012 08:35:15')

Timestamp('2012-01-01 08:35:15')

In [25]:
pd.Timestamp('1/1/2012 08:35:15 PM')

Timestamp('2012-01-01 20:35:15')

In [26]:
pd.Timestamp(dt.date(2015,2,3))

Timestamp('2015-02-03 00:00:00')

In [27]:
pd.Timestamp(dt.datetime(2015,2,3,15,23))

Timestamp('2015-02-03 15:23:00')

## The pandas DateTimeIndex Object

In [30]:
dates= ["2016-01-02", "2009-09-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [31]:
dates= ["2016/01/02", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [32]:
dates = (dt.date(2016,1,10), dt.date(1954,4,7), dt.date(2004,12,29))

In [34]:
dtIndex = pd.DatetimeIndex(dates)

In [35]:
values = [100,200,300]
pd.Series(values,dtIndex)

2016-01-10    100
1954-04-07    200
2004-12-29    300
dtype: int64

## The pd.to_datetime() Method

In [39]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2015,2,2,14,35,20))
pd.to_datetime(["2015-01-03","2014/02/08","2016","July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [45]:
times = pd.Series(["2015-01-03","2014/02/08","2016","July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [46]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [52]:
bad_dates = pd.Series(["July 14th 1995","Hello","2015-2-31"])

In [53]:
pd.to_datetime(bad_dates)
# To handle this set errors="coerce" to fix those it cant. Otherwise will be 'NAT', not a time

ParserError: Unknown string format: Hello

In [55]:
pd.to_datetime(bad_dates,errors="coerce")

0   1995-07-14
1          NaT
2          NaT
dtype: datetime64[ns]

In [ ]:
# works with unix times (seconds since Jan 1st, 1970)

## Create Range of Dates with the pd.date_range Method, Part 1

In [67]:
times = pd.date_range(start="2016-01-01",end="2016-01-11",freq="D")

In [68]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [69]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [70]:
pd.date_range(start="2016-01-01",end="2016-01-11",freq="2D") # 2 day incriment

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09', '2016-01-11'],
              dtype='datetime64[ns]', freq='2D')

In [71]:
pd.date_range(start="2016-01-01",end="2016-01-11",freq="B") # B -Just weekdays

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11'],
              dtype='datetime64[ns]', freq='B')

In [73]:
pd.date_range(start="2016-01-01",end="2016-01-16",freq="W") # Weeks (starting on sunday)

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [75]:
pd.date_range(start="2016-01-01",end="2016-01-16",freq="W-FRI") # W-Fri start on Friday

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [76]:
pd.date_range(start="2016-01-01",end="2016-01-16",freq="H") # H - Hour

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-15 15:00:00', '2016-01-15 16:00:00',
               '2016-01-15 17:00:00', '2016-01-15 18:00:00',
               '2016-01-15 19:00:00', '2016-01-15 20:00:00',
               '2016-01-15 21:00:00', '2016-01-15 22:00:00',
               '2016-01-15 23:00:00', '2016-01-16 00:00:00'],
              dtype='datetime64[ns]', length=361, freq='H')

In [77]:
pd.date_range(start="2016-01-01",end="2016-01-16",freq="6H") # 6H - six hours

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00',
               '2016-01-13 12:00:00', '2016-01-13 18:00:00',
               '2016-01-14 00:00:00', '2016-01-14 06:00:00',
               '2016-01-14 12:00:00', '2016-01-14 18:00:00',
               '2016-01-15 00:00:00', '2016-01-15 06:00:00',
               '2016-01-15 12:00:00', '2016-01-15 18:00:00',
               '2016-01-16 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [78]:
pd.date_range(start="2016-01-01",end="2016-10-16",freq="M") # M - Month end

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30'],
              dtype='datetime64[ns]', freq='M')

In [79]:
pd.date_range(start="2002-01-01",end="2016-10-16",freq="A") # last day of each year

DatetimeIndex(['2002-12-31', '2003-12-31', '2004-12-31', '2005-12-31',
               '2006-12-31', '2007-12-31', '2008-12-31', '2009-12-31',
               '2010-12-31', '2011-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the pd.date_range Method, Part 2

In [80]:
pd.date_range(start="2012-09-09",periods=25,freq="D")  #Periods = # of results

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range(start="2012-09-09",periods=4,freq="W")  #Periods = # of results

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30'], dtype='datetime64[ns]', freq='W-SUN')

In [82]:
pd.date_range(start="2012-09-09",periods=4,freq="M")  #Periods = # of results

DatetimeIndex(['2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31'], dtype='datetime64[ns]', freq='M')

## Create Range of Dates with the pd.date_range Method, Part 3

In [84]:
# Working with only 'end'
pd.date_range(end="1999-12-31",periods=25,freq="D")  #Periods = # of results

DatetimeIndex(['1999-12-07', '1999-12-08', '1999-12-09', '1999-12-10',
               '1999-12-11', '1999-12-12', '1999-12-13', '1999-12-14',
               '1999-12-15', '1999-12-16', '1999-12-17', '1999-12-18',
               '1999-12-19', '1999-12-20', '1999-12-21', '1999-12-22',
               '1999-12-23', '1999-12-24', '1999-12-25', '1999-12-26',
               '1999-12-27', '1999-12-28', '1999-12-29', '1999-12-30',
               '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [85]:
pd.date_range(end="1999-12-31",periods=100,freq="7H")  #Periods = # of results

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## The .dt accessor

In [ ]:
# similar to .str

In [92]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq='24D')

In [95]:
a = pd.Series(bunch_of_dates)
a.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [99]:
a.dt.weekofyear
a.dt.weekday

0      False
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [100]:
mask = a.dt.is_quarter_end
a[mask]

57   2003-09-30
dtype: datetime64[ns]

## Install pandas-datareader Library

In [104]:
# Already installed

## Import Financial Data Set with pandas_datareader Library

In [150]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [107]:
company="MSFT"
start='2010-01-01'
end='2017-12-31'

stocks = data.DataReader(name=company, data_source="yahoo",start=start,end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.153070

In [109]:
stocks.values

array([[3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.42943687e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.43022156e+01],
       [3.10799999e+01, 3.05200005e+01, 3.08799992e+01, 3.07700005e+01,
        5.81824000e+07, 2.41530704e+01],
       ...,
       [8.59800034e+01, 8.52200012e+01, 8.56500015e+01, 8.57099991e+01,
        1.46780000e+07, 8.27977448e+01],
       [8.59300003e+01, 8.55500031e+01, 8.59000015e+01, 8.57200012e+01,
        1.05943000e+07, 8.28074112e+01],
       [8.60500031e+01, 8.55000000e+01, 8.56299973e+01, 8.55400009e+01,
        1.87174000e+07, 8.26335449e+01]])

In [110]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [113]:
stocks.index[0]

Timestamp('2010-01-04 00:00:00')

In [115]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2013, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting Rows from a DataFrame with a DateTimeIndex

In [116]:
stocks = data.DataReader(name=company, data_source="yahoo",start=start,end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.153070

In [117]:
stocks.loc["2014-03-04"]

High         3.848000e+01
Low          3.807000e+01
Open         3.820000e+01
Close        3.841000e+01
Volume       2.680240e+07
Adj Close    3.372342e+01
Name: 2014-03-04 00:00:00, dtype: float64

In [118]:
stocks.iloc[200]

High         2.537000e+01
Low          2.495000e+01
Open         2.527000e+01
Close        2.510000e+01
Volume       6.615090e+07
Adj Close    1.998990e+01
Name: 2010-10-19 00:00:00, dtype: float64

In [120]:
# .ix takes either arguments but is depreciated

# stocks.ix["2014-03-04"]
# or 
# stocks.ix[200]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [123]:
stocks.iloc[12:54]

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-01-21  30.719999  30.000000  30.610001  30.010000   73086700.0  23.556511
2010-01-22  30.200001  28.840000  30.000000  28.959999  102004600.0  22.732307
2010-01-25  29.660000  29.100000  29.240000  29.320000   63373000.0  23.014898
2010-01-26  29.850000  29.090000  29.200001  29.500000   66639900.0  23.156181
2010-01-27  29.820000  29.020000  29.350000  29.670000   63949500.0  23.289631
2010-01-28  29.870001  28.889999  29.840000  29.160000  117513700.0  22.889299
2010-01-29  29.920000  27.660000  29.900000  28.180000  193888500.0  22.120043
2010-02-01  28.480000  27.920000  28.389999  28.410000   85931100.0  22.300581
2010-02-02  28.500000  28.139999  28.370001  28.459999   54413700.0  22.339828
2010-02-03  28.790001  28.120001  28.260000  28.629999   61397900.0  22.473269
2010-02-04  28.500000  27.809999  28.379999  27.840000   77850000.0  21.853163
2010-02-05  28.280001  27.570000  28.000000  28.020000   80960100.0  21.994453
2010-02-08  28.080000  27.570000  28.010000  27.719999   52820600.0  21.758957
2010-02-09  28.340000  27.750000  27.969999  28.010000   59195800.0  21.986599
2010-02-10  28.240000  27.840000  28.030001  27.990000   48591300.0  21.970903
2010-02-11  28.400000  27.700001  27.930000  28.120001   65993700.0  22.072945
2010-02-12  28.059999  27.580000  27.809999  27.930000   81117200.0  21.923805
2010-02-16  28.370001  28.020000  28.129999  28.350000   51935600.0  22.357546
2010-02-17  28.650000  28.360001  28.530001  28.590000   45882900.0  22.546816
2010-02-18  29.030001  28.510000  28.590000  28.969999   42856500.0  22.846493
2010-02-19  28.920000  28.690001  28.790001  28.770000   44451800.0  22.688766
2010-02-22  28.940001  28.650000  28.840000  28.730000   36707100.0  22.657217
2010-02-23  28.830000  28.090000  28.680000  28.330000   52266200.0  22.341770
2010-02-24  28.790001  28.379999  28.520000  28.629999   43165900.0  22.578362
2010-02-25  28.650000  28.020000  28.270000  28.600000   48735300.0  22.554699
2010-02-26  28.850000  28.510000  28.650000  28.670000   40370600.0  22.609909
2010-03-01  29.049999  28.530001  28.770000  29.020000   43805400.0  22.885929
2010-03-02  29.299999  28.240000  29.080000  28.459999   93123900.0  22.444300
2010-03-03  28.610001  28.350000  28.510000  28.459999   48442100.0  22.444300
2010-03-04  28.650000  28.270000  28.459999  28.629999   42890600.0  22.578362
2010-03-05  28.680000  28.420000  28.660000  28.590000   56001800.0  22.546816
2010-03-08  28.930000  28.500000  28.520000  28.629999   39414500.0  22.578362
2010-03-09  29.110001  28.549999  28.559999  28.799999   50271600.0  22.712425
2010-03-10  29.110001  28.799999  28.860001  28.969999   44891400.0  22.846493
2010-03-11  29.190001  28.850000  28.889999  29.180000   35349700.0  23.012110
2010-03-12  29.379999  29.040001  29.320000  29.270000   31700200.0  23.083084
2010-03-15  29.370001  29.010000  29.180000  29.290001   37512000.0  23.098850
2010-03-16  29.490000  29.200001  29.420000  29.370001   36723500.0  23.161953
2010-03-17  29.870001  29.400000  29.500000  29.629999   50385700.0  23.366978
2010-03-18  29.719999  29.500000  29.629999  29.610001   43845200.0  23.351217
2010-03-19  29.900000  29.350000  29.760000  29.590000   81332100.0  23.335440
2010-03-22  29.700001  29.389999  29.500000  29.600000   37718200.0  23.343330

In [125]:
birthdays = pd.date_range(start="1991-06-22",end="2017-01-01",freq=pd.DateOffset(years=1))
birthdays

DatetimeIndex(['1991-06-22', '1992-06-22', '1993-06-22', '1994-06-22',
               '1995-06-22', '1996-06-22', '1997-06-22', '1998-06-22',
               '1999-06-22', '2000-06-22', '2001-06-22', '2002-06-22',
               '2003-06-22', '2004-06-22', '2005-06-22', '2006-06-22',
               '2007-06-22', '2008-06-22', '2009-06-22', '2010-06-22',
               '2011-06-22', '2012-06-22', '2013-06-22', '2014-06-22',
               '2015-06-22', '2016-06-22'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [126]:
stocks[stocks.index.isin(birthdays)]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-06-22  26.450001  25.760000  26.160000  25.770000  55985400.0  20.414597
2011-06-22  24.809999  24.590000  24.600000  24.650000  44287300.0  19.999117
2012-06-22  30.730000  30.030001  30.299999  30.700001  45098100.0  25.586628
2015-06-22  46.720001  46.160000  46.330002  46.230000  20318100.0  41.955791
2016-06-22  51.459999  50.950001  51.080002  50.990002  28816800.0  47.561893

## Timestamp Object Attributes

In [127]:
stocks = data.DataReader(name=company, data_source="yahoo",start=start,end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.153070

In [128]:
someday = stocks.index[200]

In [129]:
someday.day

19

In [130]:
someday.month

10

In [133]:
someday.dayofweek

1

In [134]:
#Adding column with day of week column
stocks.insert(0, "Day of Week", stocks.index.dayofweek)

In [135]:
stocks

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,0,31.100000,30.590000,30.620001,30.950001,38409100.0,24.294369
2010-01-05,1,31.100000,30.639999,30.850000,30.959999,49749600.0,24.302216
2010-01-06,2,31.080000,30.520000,30.879999,30.770000,58182400.0,24.153070
2010-01-07,3,30.700001,30.190001,30.629999,30.450001,50559700.0,23.901886
2010-01-08,4,30.879999,30.240000,30.280001,30.660000,51197400.0,24.066734
...,...,...,...,...,...,...,...
2017-12-22,4,85.629997,84.919998,85.400002,85.510002,14145800.0,82.604538
2017-12-26,1,85.529999,85.029999,85.309998,85.400002,9891200.0,82.498283
2017-12-27,2,85.980003,85.220001,85.650002,85.709999,14678000.0,82.797745
2017-12-28,3,85.930000,85.550003,85.900002,85.720001,10594300.0,82.807411
2017-12-29,4,86.050003,85.500000,85.629997,85.540001,18717400.0,82.633545

In [136]:
stocks.insert(0, "Is start of Month", stocks.index.is_month_start)

In [137]:
stocks

,Is start of Month,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,False,0,31.100000,30.590000,30.620001,30.950001,38409100.0,24.294369
2010-01-05,False,1,31.100000,30.639999,30.850000,30.959999,49749600.0,24.302216
2010-01-06,False,2,31.080000,30.520000,30.879999,30.770000,58182400.0,24.153070
2010-01-07,False,3,30.700001,30.190001,30.629999,30.450001,50559700.0,23.901886
2010-01-08,False,4,30.879999,30.240000,30.280001,30.660000,51197400.0,24.066734
...,...,...,...,...,...,...,...,...
2017-12-22,False,4,85.629997,84.919998,85.400002,85.510002,14145800.0,82.604538
2017-12-26,False,1,85.529999,85.029999,85.309998,85.400002,9891200.0,82.498283
2017-12-27,False,2,85.980003,85.220001,85.650002,85.709999,14678000.0,82.797745
2017-12-28,False,3,85.930000,85.550003,85.900002,85.720001,10594300.0,82.807411
2017-12-29,False,4,86.050003,85.500000,85.629997,85.540001,18717400.0,82.633545

## The .truncate() Method

In [138]:
# used for slicing of datetime

In [139]:
stocks = data.DataReader(name=company, data_source="yahoo",start=start,end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.294369
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.302216
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  24.153070

In [140]:
stocks.truncate(before="2011-02-05",after="2011-02-28")

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-02-07  28.340000  27.790001  27.799999  28.200001  68980900.0  22.596769
2011-02-08  28.340000  28.049999  28.100000  28.280001  34904200.0  22.660870
2011-02-09  28.260000  27.910000  28.190001  27.969999  52905100.0  22.412468
2011-02-10  27.940001  27.290001  27.930000  27.500000  76672400.0  22.035860
2011-02-11  27.809999  27.070000  27.760000  27.250000  83939700.0  21.835524
2011-02-14  27.270000  26.950001  27.209999  27.230000  56766200.0  21.819502
2011-02-15  27.330000  26.950001  27.040001  26.959999  44116500.0  21.730837
2011-02-16  27.070000  26.600000  27.049999  27.020000  70817900.0  21.779205
2011-02-17  27.370001  26.910000  26.969999  27.209999  57207300.0  21.932344
2011-02-18  27.209999  26.990000  27.129999  27.059999  68667800.0  21.811447
2011-02-22  27.100000  26.520000  26.780001  26.590000  60889000.0  21.432606
2011-02-23  26.860001  26.430000  26.530001  26.590000  60234100.0  21.432606
2011-02-24  27.059999  26.500000  26.639999  26.770000  64494200.0  21.577696
2011-02-25  26.950001  26.500000  26.910000  26.549999  53006300.0  21.400364
2011-02-28  26.860001  26.510000  26.690001  26.580000  51379900.0  21.424541

## pd.DateOffset Objects

In [151]:
# pulling data from 2000 through today
stocks = data.DataReader(name="GOOG",data_source="yahoo",
                start=dt.date(2000,1,1), end=dt.datetime.now())

In [152]:
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2004-08-19,51.835709,47.800831,49.813286,49.982655,44871300.0,49.982655
2004-08-20,54.336334,50.062355,50.316402,53.952770,22942800.0,53.952770
2004-08-23,56.528118,54.321388,55.168217,54.495735,18342800.0,54.495735
2004-08-24,55.591629,51.591621,55.412300,52.239193,15319700.0,52.239193
2004-08-25,53.798351,51.746044,52.284027,52.802086,9232100.0,52.802086
...,...,...,...,...,...,...
2020-04-08,1219.069946,1188.160034,1206.500000,1210.280029,1975100.0,1210.280029
2020-04-09,1225.569946,1196.734985,1224.079956,1211.449951,2175400.0,1211.449951
2020-04-13,1220.510010,1187.598022,1209.180054,1217.560059,1739800.0,1217.560059
2020-04-14,1282.069946,1236.930054,1245.089966,1269.229980,2468700.0,1269.229980
2020-04-15,1280.459961,1240.400024,1245.609985,1268.832642,1304952.0,1268.832642

In [153]:
stocks.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-06',
               '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-13',
               '2020-04-14', '2020-04-15'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [159]:
# adding 5 days to each 
# stocks.index + 5
stocks.index + pd.DateOffset(days=5)
# subtracting 2 weeks
stocks.index + pd.DateOffset(weeks=-2)
# Adding a year
stocks.index + pd.DateOffset(years=1) 
# multiple
stocks.index + pd.DateOffset(years=1,days=-3)

DatetimeIndex(['2005-08-16', '2005-08-17', '2005-08-20', '2005-08-21',
               '2005-08-22', '2005-08-23', '2005-08-24', '2005-08-27',
               '2005-08-28', '2005-08-29',
               ...
               '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-03',
               '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-10',
               '2021-04-11', '2021-04-12'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

## More Fun with pd.DateOffset Objects

In [160]:
# pulling data from 2000 through today
stocks = data.DataReader(name="GOOG",data_source="yahoo",
                start=dt.date(2000,1,1), end=dt.datetime.now())

In [161]:
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735

In [ ]:
# Rounding to certain date points

In [162]:
pd.tseries.offsets.MonthEnd()

In [163]:
stocks.index + pd.tseries.offsets.MonthEnd() # looks for next month end
stocks.index - pd.tseries.offsets.MonthEnd() # looks for last month end

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31', '2020-03-31', '2020-03-31',
               '2020-03-31', '2020-03-31'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [164]:
stocks.index + pd.tseries.offsets.MonthBegin() # looks next beginning of month

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [165]:
# preferred approach -- import
from pandas.tseries.offsets import *

In [166]:
stocks.index + MonthBegin() # looks next beginning of month

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01', '2020-05-01', '2020-05-01',
               '2020-05-01', '2020-05-01'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [168]:
stocks.index + BMonthEnd() # last business day of the month

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30', '2020-04-30', '2020-04-30',
               '2020-04-30', '2020-04-30'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [169]:
stocks.index + QuarterEnd()

DatetimeIndex(['2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30',
               ...
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

In [170]:
stocks.index + YearEnd()

DatetimeIndex(['2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=3941, freq=None)

## The pandas Timedelta Object

In [ ]:
# represents a difference

In [175]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20")

In [176]:
timeA - timeB

Timedelta('11 days 16:35:16')

In [178]:
timeB - timeA

Timedelta('-12 days +07:24:44')

In [179]:
pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [181]:
pd.Timedelta(days=3,hours=2,minutes=23)

Timedelta('3 days 02:23:00')

In [ ]:
pd.Timedelta(days=3,hours=2,minutes=23,)

In [182]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## Timedeltas in a Dataset

In [186]:
shipping = pd.read_csv("ecommerce.csv",index_col="ID", parse_dates=["order_date","delivery_date"])

In [187]:
shipping

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
..         ...           ...
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [191]:
shipping["delivery_date"]-shipping["order_date"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [192]:
shipping["Delivery Time"] = shipping["delivery_date"]-shipping["order_date"]

In [193]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [194]:
shipping["delivery_date"] + shipping["Delivery Time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [195]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
dtype: object

In [196]:
shipping["Delivery Time"]>"365 days"

ID
1      False
2       True
4       True
5       True
7       True
       ...
990     True
991     True
993     True
994    False
997     True
Name: Delivery Time, Length: 501, dtype: bool

In [197]:
shipping[shipping["Delivery Time"]>"365 days"]

    order_date delivery_date Delivery Time
ID
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
9   1990-01-25    1994-10-02     1711 days
..         ...           ...           ...
986 1990-12-10    1992-12-16      737 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
997 1990-01-04    1991-10-03      637 days

[394 rows x 3 columns]

In [198]:
shipping[shipping["Delivery Time"]>"2000 days"]

    order_date delivery_date Delivery Time
ID
2   1992-04-22    1998-03-06     2144 days
10  1992-02-23    1998-12-30     2502 days
20  1992-10-17    1998-10-06     2180 days
23  1992-05-30    1999-08-15     2633 days
32  1990-01-20    1998-07-24     3107 days
..         ...           ...           ...
958 1990-04-26    1997-06-29     2621 days
972 1990-02-07    1995-11-05     2097 days
984 1991-07-25    1999-02-09     2756 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days

[113 rows x 3 columns]